<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AnimatedGif" version="1.0.1" targetFramework="net461" />
  <package id="Gifed" version="1.0.3" targetFramework="net461" />
  <package id="GiphyDotNet" version="1.0.0.0" targetFramework="net461" />
  <package id="Google.Apis.Core" version="1.9.1" targetFramework="net45" />
  <package id="Imgur.API" version="4.0.1" targetFramework="net461" />
  <package id="Magick.NET-Q16-AnyCPU" version="7.0.6.102" targetFramework="net461" />
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="net45" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net45" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net45" />
  <package id="Microsoft.Net.Http" version="2.2.28" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
</packages>